<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Github" value="https://nuget.pkg.github.com/bitcrafts/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Github>
      <add key="username" value="{NUGET_USERNAME}" />
      <add key="cleartextPassword" value="{NUGET_PASSWORD}" />
    </Github>
  </packageSourceCredentials>
</configuration>
